* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul>li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo {
    height: 42px;
    width: 52px;
}

.logo_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav_item {
    margin: 20px;
}

.nav_item:last-child {
    margin-right: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
}